#remove module.info
/home/listya/Documents/Belajar/JAVA/personalProject/WishlistHunt/WishlistHunt/module-info.java

#remove out
/home/listya/Documents/Belajar/JAVA/personalProject/WishlistHunt/WishlistHunt/out

#remove .iml
*.iml

#remove .idea
/home/listya/Documents/Belajar/JAVA/personalProject/WishlistHunt/WishlistHunt/.idea
